body {
	font-family: "Museo Sans", Ubuntu, Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

#headline {
	background-color: #232F3E;
	color: #e6e6fa;
	padding: 20px;
	margin-bottom: 22px;
	height: 150px;
}

.container {
	background-color: lightgreen;
}

h2 {
    padding: 10px 20px;
}

[class*="col-"] {
      margin-bottom: 33px;
  }


#film, #book, #mus {
	padding: 12px;
	margin: 24px;
}

img {
	height: 270px;
	width: 250px;
}

#stars {
	font-size: 20px;
	color: #FFD700;
}